@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
	--primary: #002A57;
	--secondary: #FFF500;
	/* --secondary: linear-gradient(to right, #E59537, #E53776); */
	--soft: #E1EFF9;
	--dark: #2b3240;
	--light: #D9D9D9;
	--muted: #444444;
}

h1,h2,h3,h4,h5,h6,p,div,span,b,strong,a,em{
	font-family: 'Montserrat', sans-serif !important;
}

body, #wrapper{
	background: #fff;
	font-family: 'Montserrat', sans-serif !important;
}

.bg-soft {
	background: var(--soft) !important;
}

.bg-secondary{
	background: var(--secondary) !important;
}

.text-muted{
	color: var(--muted) !important;
}

button{
	outline: none !important;
	border: none;
}

.text-secondary{
	color: var(--secondary) !important;
}

button.bg-primary{
	background-color: #2e4d73 !important;
}

.btn-primary{
	background-color: var(--primary) !important;
	&:hover{
		background-color: #164b85 !important;
	}
}

h1,
h2,
h3,
h4 {
	font-weight: 700;
}

h5{
	font-size: 20px;
	font-weight: 600;
}

h6{
	font-size: 16px;
	font-weight: 600;
}

#peta-persebaran, #peta-laboran, #peta-tas, #peta-perpustakaan, #peta-pengawas{
	width: 100%;
	height: 250px;
}

.swiper{
	width: 100%;
	height: 100%;
}

.swiper-wrapper{
	align-items: center;
}

.swiper-banner{
	border-radius: 0 0 24px 24px;
}

.swiper-slide > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.swiper-1{
	width: 100%;
	height: 100%;
}

.swiper-1 .swiper-slide > img{
	border-radius: 20px;
}

.swiper-banner{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.swiper-1 .swiper-slide{
	/* background: white; */
	height: 100% !important;
	width: 100%;
}

.swiper-button-prev,
.swiper-button-next{
	width: 32px !important;
	height: 32px !important;
	border-radius: 50%;
	background: var(--white);
	box-shadow: 3px 3px 10px #9393933f;
}

.swiper-4 :where(.swiper-button-next, .swiper-button-prev){
	background-color: var(--primary) !important;
}

.swiper-4 :where(.swiper-button-next, .swiper-button-prev)::after{
	color: white !important;
}

:where(.swiper-3, .swiper-4):hover :where(.swiper-button-prev, .swiper-button-next){
	opacity: 1 !important;
}

:where(.swiper-3, .swiper-4):hover :where(.swiper-button-disabled){
	background: var(--light);
	opacity: .4 !important;
}

:where(.swiper-3, .swiper-4) :where(.swiper-button-prev, .swiper-button-next){
	opacity: 0 !important;
	transition: .4s;
}

:where(.swiper-3, .swiper-4) .swiper-button-prev{
	left: 0 !important;
}

:where(.swiper-3, .swiper-4) .swiper-button-next{
	right: 0 !important;
}

.swiper-button-next:after, .swiper-button-prev:after{
	font-size: 8px !important;
	color: var(--primary);
}

.swiper-pagination{
	bottom: 8px !important;
}

.swiper-pagination:not(.swiper-pagination-fraction) span{
	background: #2b324030 !important;
}

.swiper-pagination span:hover, .swiper-pagination span.swiper-pagination-bullet-active{
	background: var(--primary) !important;
}

.swiper-pagination span.swiper-pagination-bullet-active{
	width: 32px !important;
	border-radius: 20px !important;
}

.swiper-slide-artikel{
	max-width: 99px !important;
}

.text-clamp-1 {
	display: -webkit-box;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	line-clamp: 1;
	-webkit-line-clamp: 1;
	overflow: hidden;
}

.text-clamp-2 {
	display: -webkit-box;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	line-clamp: 2;
	-webkit-line-clamp: 2;
	overflow: hidden;
}

.text-clamp-3 {
	display: -webkit-box;
	box-orient: vertical;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

.button-secondary {
	background: var(--secondary);
}

.button-secondary:hover {
	background: #bc7729;
}

.social-icon{
	width: 36px;
	height: 36px;
	line-height: 36px;
}

.social-icon.social-icon-2xl{
	width: 64px !important;
	height: 64px !important;
	line-height: 64px !important;
}

.social-icon.social-icon-2xl i{
	font-size: 32px;
}

.social-icon.social-icon-2xl:hover i:first-child{
	margin-top: -64px !important;
}

.social-icon i{
	color: var(--primary);
}

.social-icon.si-instagram{
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%) !important;
}
.social-icon.si-facebook{
	background-color: #3B5998 !important;
}
.social-icon.si-twitter{
	background-color: #00ACEE !important;
}
.social-icon.si-youtube{
	background-color: #C4302B !important;
}
.social-icon i{
	color: white !important;
}

.social-icon.si-secondary{
	background: var(--secondary);
	color: var(--white);
	border: none !important;
	/* border-color: transparent; */
}

.lightbox-img{
	border-radius: 12px;
	text-align: center;
}

.lightbox-img img{
	object-fit: cover;
	width: 100%;
	text-align: center;
}

.bg-overlay-content{
	padding: 12px;
	transition: .4s;
}

.bg-overlay-content:hover{
	background-color: rgba(0, 0, 0, 0.544);
}

.tab-nav.tab-nav2{
	gap: 12px;
}

.tab-nav.tab-nav2:not(.pills) li{
	border-radius: 8px !important;
	overflow: hidden;
	/* margin-bottom: 12px; */
	margin-left: 0 !important;
	border: 2px solid var(--primary) !important;
}

.tab-nav.tab-nav2:not(.pills) li.ui-state-active a{
	background-color: var(--secondary) !important;
	color: var(--primary) !important;
}

.tab-nav.tab-nav2 li a{
	background-color: transparent !important;
}

.tab-custom .list-group{
	padding: 10px;
	gap: 6px;
	background: var(--white);
	border: 1px solid #d9d9d973;
	border-radius: 12px;
}

.tab-custom .list-group .list-group-item{
	border: none;
	padding: 12px 6px;
	text-align: center;
	border-radius: 6px;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tab-custom .list-group .list-group-item.active{
	background: var(--primary);
	color: var(--white);
	border: 2px solid var(--secondary);
	font-weight: 700;
}

a.arrow-rounded{
	display: flex;
	align-items: center;
	gap: 6px;
	color: var(--muted);
	font-size: 14px;
	transform: translateX(-6px);
}

a.arrow-rounded > div{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background: var(--primary);
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .4s;
}

a.arrow-rounded:hover > div{
	transform: translateX(6px);
}

a.arrow-rounded div i{
	font-size: 13px;
	line-height: 13px;
	color: var(--white);
}

#gotoTop{
	bottom: 50px !important;
}

#gotoTop:hover{
	background: var(--secondary);
}

#faq{
	position: fixed;
	padding: 12px 16px;
	border-radius: 50px;
	border: 2px solid white !important;
	background: var(--primary);
	top: auto;
	bottom: 50px;
	right: 39px;
	z-index: 1000;
}

#faq>div{
	display: flex;
	align-items: center;
	gap: 12px;
}

#faq :not(input){
	color: var(--white);
}

.faq-wrapper{
	transition: .4s;
	opacity: 0;
	background: var(--soft);
	padding: 16px;
	border: 1px solid #d9d9d951;
	position: fixed;
	bottom: 110px;
	right: -24px;
	border-radius: 12px;
	transform: scale(0);
	transform-origin: bottom;
	display: flex;
	flex-direction: column;
	gap: 8px;
	/* align-items: center; */
	max-width: 600px;
	width: 100%;
	box-shadow: 2px 2px 10px #9393931a;
	z-index: 9998;
}

.faq-wrapper img.faq{
	position: absolute;
	right: -40px;
	bottom: -30px;
}

.faq-wrapper .form-group,
.faq-wrapper .form-group .form-control{
	width: 100%;
}

.select2-dropdown{
	z-index: 9999;
	box-shadow: 0 4px 10px #acacac36;
	border: 1px solid transparent;
}

.select2-container .select2-selection--single{
	min-height: 28px !important;
	height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
	top: 50%;
	transform: translateY(-50%);
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
	line-height: normal;
	padding: 0;
}

.select2-container--default .select2-selection--single{
	padding: 12px 16px;
	border: 1px solid transparent !important;
}

select.form-control{
	appearance: unset !important;
}

.faq-wrapper .form-group .form-control{
	padding: 12px 16px;
	font-size: 14px;
	height: auto;
	border: 1px solid transparent !important;
	border-radius: 0.25rem;
}

.faq-wrapper .form-group .form-control:focus{
	border: 1px solid var(--primary) !important;
	box-shadow: 0 0 10px #002a571e !important;
}

.faq-wrapper .form-group .form-control::placeholder{
	color: var(--muted);
	opacity: .4;
}

.faq-wrapper.show{
	opacity: 1;
	transform: scale(80%);
}

.modal{
	z-index: 99999;
	overflow: hidden !important;
}

.mfp-bg, .mfp-wrap{
	z-index: 100000 !important;
}

.modal-content{
	border-radius: 12px;
}

.modal-header{
	background: var(--primary);
}

.modal-header :where(.modal-title, .close){
	color: var(--white) !important;
	letter-spacing: 1px;
	font-weight: 500;
}

/* .modal-dialog-scrollable .modal-body{
	overflow-y: auto;
} */

/* header */
header.full-header{
	z-index: 999;
	position: sticky;
	top: 0;
}
header.full-header.not-top:not(.transparent-header),
.full-header.not-top .primary-menu .menu-container {
	border: none;
}

header.full-header.not-top:not(.transparent-header) #header-wrap {
	background: var(--primary);
}

header.full-header.not-top:not(.transparent-header, .sticky-header) #header-wrap {
	position: relative;
}

header.full-header.not-top:not(.transparent-header) #header-wrap .header-row nav.primary-menu .menu-container {
	gap: 12px;
}

header.full-header.not-top:not(.transparent-header) #header-wrap .header-row nav.primary-menu .menu-container>.menu-item {
	padding: 8px 0;
}

header.full-header.not-top:not(.transparent-header) #header-wrap .header-row nav.primary-menu .menu-container>.menu-item.current>.menu-link {
	font-weight: 700;
	color: var(--primary);
}

header.full-header.not-top:not(.transparent-header) #header-wrap .header-row nav.primary-menu .menu-container>.menu-item>.menu-link:hover{
	color: var(--primary);
}

header.full-header.not-top:not(.transparent-header) #header-wrap .header-row nav.primary-menu .menu-container>.menu-item>.menu-link.has-menu {
	padding-right: 2px !important;
}

header.full-header.not-top:not(.transparent-header) #header-wrap .header-row nav.primary-menu .menu-container>.menu-item>.menu-link {
	padding: 6px 16px !important;
	color: var(--white);
	font-size: 14px;
	font-weight: 500;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

header.full-header.not-top:not(.transparent-header) #header-wrap .header-row nav.primary-menu .menu-container>.menu-item.current>.menu-link::before,
header.full-header.not-top:not(.transparent-header) #header-wrap .header-row nav.primary-menu .menu-container>.menu-item>.menu-link:hover::before {
	background: var(--secondary);
}

header.full-header.not-top:not(.transparent-header) #header-wrap .header-row nav.primary-menu .menu-container>.menu-item>.menu-link::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	background: transparent;
	transition: .4s;
	z-index: -1;
	border: 2px solid var(--secondary);
}

.header-wrap-clone {
	display: none;
}

.sub-menu-container.scrolled {
	min-height: 320px;
	overflow-y: auto;
}

.sub-menu-container.scrolled::-webkit-scrollbar {
	background: var(--light);
	width: 6px;
}

.sub-menu-container.scrolled::-webkit-scrollbar-thumb {
	background: var(--primary);
	/* border-radius: 12px; */
}

#page-menu #page-menu-wrap .page-menu-row nav.primary-menu .menu-container>.menu-item {
	padding: 8px 0;
}

#page-menu #page-menu-wrap .page-menu-row nav.primary-menu .menu-container>.menu-item>.menu-link {
	padding: 6px 16px !important;
	color: var(--white);
	font-size: 14px;
	font-weight: 400;
	position: relative;
	z-index: 1;
	overflow: hidden;
}

#page-menu #page-menu-wrap .page-menu-row nav.primary-menu .menu-container>.menu-item.current>.menu-link::before,
#page-menu #page-menu-wrap .page-menu-row nav.primary-menu .menu-container>.menu-item>.menu-link:hover::before {
	opacity: 1;
}

#page-menu #page-menu-wrap .page-menu-row nav.primary-menu .menu-container>.menu-item>.menu-link::before {
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	border-radius: 40px;
	background: var(--secondary);
	transition: .4s;
	z-index: -1;
}

.mega-menu-content .sub-menu-container .menu-item.mega-menu-title > .menu-link{
	font-size: 13px;
	font-weight: 500;
}

/* content */
section {
	position: relative;
}

#page-title {
	padding: 2rem 0;
}

.content-wrap {
	padding: 16px 0;
}

body.full-height .content-wrap {
	padding: 20px 0;
}

.counter.counter-sm {
	font-size: 18px;
}

.entry-content *{
	font-family: 'Montserrat', sans-serif !important;
	font-size: 15px !important;
}

.entry-image{
	margin-bottom: 24px !important;
}

.entry-meta li a{
	font-size: 12px;
}

.fslider-banner .flexslider .slider-wrap .slide {
	position: relative;
}

.fslider-banner .flexslider .slider-wrap .slide .banner-desc {
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	top: 55%;
	transform: translateY(-45%);
	z-index: -1;
	padding: 12px;
	padding-left: 180px;
	padding-right: 40px;
	border-radius: 12px 150px 150px 12px;
}

.fslider-banner .flexslider .slider-wrap .slide img {
	width: 150px;
}

.fslider-banner .flexslider .slider-wrap .slide .img-slide-banner {
	max-width: 170px;
}

.fslider-banner .flexslider .slider-wrap .slide .img-slide-banner .card {
	border-radius: 12px;
	width: 100%;
	margin-top: -24px;
}

.fslider-banner .flexslider .slider-wrap .slide .img-slide-banner .card .card-body {
	padding: 6px;
}

.flex-direction-nav {
	position: relative;
	display: flex;
	justify-content: end;
	gap: 8px;
}

.flex-direction-nav :where(.flex-nav-prev, .flex-nav-next) :where(.flex-prev, .flex-next) {
	position: relative;
	display: flex;
	width: 32px;
	height: 32px;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background: var(--primary);
}

.flex-direction-nav :where(.flex-nav-prev, .flex-nav-next) :where(.flex-prev, .flex-next) i {
	line-height: normal;
	font-size: 18px;
	height: auto;
}

.flex-control-nav {
	top: auto;
	bottom: 12px;
	left: 50%;
	transform: translateX(-50%);
}

.flex-control-nav li:hover a,
.flex-control-nav li a.flex-active {
	background: var(--primary);
	border-color: var(--primary);
}

.form-banner {
	border-radius: 50px;
	padding: 8px 12px 8px 20px;
	margin-top: 12px;
	position: relative;
}

.form-banner input {
	border: none;
	outline: none;
	width: 100%;
	color: var(--muted);
	font-size: 14px;
}

.form-banner input::placeholder {
	color: var(--muted);
	opacity: .4;
}

.form-banner .rounded-icon {
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8px;
	width: 28px;
	height: 28px;
	position: absolute;
	right: 8px;
	top: 50%;
	transform: translateY(-50%);
}

.form-banner .rounded-icon i {
	color: var(--white);
	font-size: 12px;
}

.heading-block{
	margin-bottom: 20px !important;
}

.heading-block.md * {
	font-size: 17px;
	color: var(--dark);
}

.heading-block::after {
	background: var(--primary);
	height: 4px;
	border-radius: 6px;
	margin-top: 0;
	border: none;
}

.heading-block.line-right{
	display: flex;
	align-items: center;
	gap: 12px;
	margin-bottom: 20px;
}

.heading-block.line-right :not(div){
	flex-grow: 1;
	text-wrap: nowrap;
	margin-bottom: 0;
}

.heading-block.line-right div{
	width: 100%;
	height: 4px !important;
	background: var(--primary);
	border-radius: 4px;
}

.heading-block.line-bottom{
	display: flex;
	gap: 6px;
	margin-bottom: 20px;
	flex-direction: column;
}

.heading-block.line-bottom :not(div){
	/* flex-grow: 1;
	text-wrap: nowrap; */
	margin-bottom: 0;
}

.heading-block.line-bottom div{
	width: 40px;
	height: 4px !important;
	background: var(--primary);
	border-radius: 4px;
}

/* flip card */
.flip-card.bordered :where(.flip-card-front, .flip-card-back){
	border: 1px solid #dddddd96;
}

.flip-card-front, .flip-card-back{
	min-height: 140px;
	height: 100%;
}

.card.card-overlay {
	overflow: hidden;
	/* min-height: 100px; */
	transition: .4s;
}

.card.card-overlay .card-body {
	padding: 0 !important;
}

.card.card-overlay img {
	position: absolute;
	width: 100px;
	left: -40px;
	bottom: 0;
	opacity: .4;
	transition: .4s;
	z-index: 0;
}

.card.card-overlay:hover img {
	opacity: 0;
	bottom: 6px;
}

.card.card-overlay:hover {
	background: var(--primary);
}

.card.card-overlay .desc-overlay {
	padding: 6px;
	transition: .4s;
	font-size: 14px;
	font-weight: 600;
	width: 100%;
}

.card.card-overlay:hover .desc-overlay.text-primary {
	color: var(--white) !important;
}

.card.card-custom {
	border-radius: 12px;
	transition: .4s;
	box-shadow: 2px 2px 10px #63636335;
	min-height: 80px;
	height: 100%;
	/* background: var(--white); */
}

.card.card-custom.bg-primary{
	background: var(--primary);
	border: 2px solid var(--secondary);
}

.card.card-custom.bg-primary:hover{
	background: var(--secondary) !important;
	border: 2px solid transparent !important;
}

.card.card-custom.bg-yellow{
	background-color: #FBDF07;
	border: 2px solid #89CFFD;
}

.card.card-custom:hover .text-white{
	color: var(--primary) !important;
}

.card.card-custom .card-body {
	display: flex;
	justify-content: center;
	align-items: center;
	/* padding: 12px; */
	position: relative;
	padding: 12px;
}

.owl-carousel .owl-item img {
	border-radius: 12px;
}

.owl-carousel .owl-nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}

.owl-carousel .owl-nav button {
	margin-top: 0 !important;
	transform: translateY(-50%);
}

.owl-carousel.not-dots .owl-dots {
	display: none;
}

.overlaying-img {
	position: relative;
	overflow: hidden;
	border-radius: 12px;
	cursor: pointer;
}

.overlaying-img .bg-overlay {
	background: #181818a9;
	position: absolute;
	inset: 0;
	transition: .4s;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 6px;
}

.overlaying-img:hover .bg-overlay {
	opacity: 1;
}

.overlaying-img .overlaying-desc p {
	opacity: 0;
	font-size: 13px;
}

.overlaying-img:hover .overlaying-desc {
	opacity: 1;
}

.scrolled-event {
	max-height: 470px;
	overflow-y: auto;
	padding-right: 12px;
	position: sticky;
	top: 20px;
}

.event .grid-inner {
	border-radius: 12px;
}

.scrolled-event::-webkit-scrollbar {
	background: var(--light);
	width: 6px;
}

.scrolled-event::-webkit-scrollbar-thumb {
	background: var(--soft);
	border-radius: 12px;
}

.content-wrap.scrolled::-webkit-scrollbar {
	display: none;
}

.thumb-news {
	border-radius: 12px;
	overflow: hidden;
}

.daterangepicker .drp-buttons .cancelBtn {
	margin-right: 8px !important;
}

select.form-control {
	appearance: none;
}

.form-group .icon-select {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 18px;
}

.entry-title :where(h1, h2, h3, h4, h5) {
	font-weight: 600 !important;
}

.entry-title.title-xs *{
	font-size: 14px !important;
}

.entry-title.title-md *{
	font-size: 17px !important;
}

.iconlist.indent li {
	margin-left: 36px;
	text-indent: -24px;
}

.tab-nav.tab-nav2.pills li a {
	border-radius: 40px;
	box-shadow: 4px 4px 30px #9a9a9a35;
	padding: 8px 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tab-nav.tab-nav2.pills li.ui-state-active a{
	background-color: var(--primary) !important;
}

.tab-nav.tab-nav2.pills li:not(.ui-state-active) a {
	background: var(--white);
}

.entry .grid-inner.hover-custom {
	transition: .4s;
}

.grid-inner.hover-custom:hover {
	transform: translateY(-12px);
}

#page-title :where(h1, h2, h3, h4, h5) {
	line-height: 150%;
}

@media screen and (min-width: 992px) {
	body.full-height {
		height: 100vh;
		overflow: hidden;
	}

	.content-wrap.scrolled {
		height: calc(100vh - 62px - 50px - 40px);
		overflow-y: auto;
	}

	.fslider-banner .flexslider .slider-wrap .slide {
		max-height: 200px;
	}

	.owl-carousel.owl-drag .owl-item {
		width: 130px !important;
	}

	.sub-menu-container.scrolled {
		max-height: 180px;
	}

	#page-title :where(h1, h2, h3, h4, h5) {
		max-width: 768px;
		text-wrap: wrap;
	}

	.wrapper-quotes{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.wrapper-quotes>div{
		min-width: 600px;
	}

	.profile-quotes{
		position: relative;
		z-index: 1;
		max-width: 180px;
	}

	.profile-quotes .profile{
		box-shadow: 3px 3px 20px #96969629;
		margin-top: -52px;
		position: relative;
		border-radius: 6px;
		z-index: 1;
	}

	.banner-quotes{
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		top: 55%;
		transform: translateY(-45%);
		padding: 12px;
		padding-left: 200px;
		padding-right: 32px;
		border-radius: 12px 150px 150px 12px;
		background: var(--primary);
		max-width: 560px;
	}
}

@media screen and (max-width: 991px) {
	header.not-top {
		position: sticky !important;
		top: 0;
		z-index: 999;
	}

	.card.card-overlay {
		min-height: 180px;
	}

	#page-title :where(h1, h2, h3, h4, h5) {
		/* max-width: 575px; */
		text-wrap: wrap;
	}

	.breadcrumb {
		position: static !important;
		margin-top: 24px !important;
	}

	.card.card-overlay img {
		width: 200px;
		right: -30px;
	}

	.menu-item:not(:first-child) {
		border: none;
	}

	header.full-header.not-top:not(.transparent-header) #header-wrap .svg-trigger path {
		stroke: var(--white);
	}

	.fslider-banner .flexslider .slider-wrap .slide .banner-desc {
		position: static;
		border-radius: 12px;
		padding: 12px !important;
		margin-top: 20px;
	}

	header.full-header.not-top:not(.transparent-header) .sub-menu-container .menu-item>.menu-link {
		color: var(--white);
	}

	.menu-item .sub-menu-trigger {
		color: var(--white);
	}

	.mega-menu-content,
	.mega-menu-content .sub-menu-container,
	.sub-menu-container .menu-item:not(:first-child),
	.sub-menu-container {
		border: none;
	}

	.fslider-banner .flexslider .slider-wrap .slide .img-slide-banner {
		max-width: 100%;
		display: flex;
		align-items: center;
	}

	.fslider-banner .flexslider .slider-wrap .slide .img-slide-banner .card {
		margin-top: 0;
		height: fit-content;
	}

	.flex-direction-nav {
		margin-top: -44px;
	}

	.form-group .icon-select {
		right: 30px;
	}
	.wrapper-quotes{
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		/* max-width: 600px; */
	}

	.wrapper-quotes>div{
		width: 370px;
		max-width: 100%;
		min-height: 270px;
	}

	.profile-quotes{
		position: relative;
		/* z-index: 1; */
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.profile-quotes .profile{
		box-shadow: 3px 3px 20px #96969629;
		margin-top: 0;
		position: relative;
		border-radius: 6px;
		padding: 12px 24px !important;
		/* z-index: 1; */
	}

	.banner-quotes{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		/* top: 55%; */
		z-index: 1;
		/* transform: translateY(-45%); */
		padding: 12px;
		border-radius: 12px;
		background: var(--primary);
		max-width: 560px;
	}

	.tab-nav.tab-nav2:not(.pills) li{
		flex-grow: 1;
	}

	#faq{
		bottom: 20px !important;
		right: 15px !important;
		background-color: white !important;
		border: 2px solid var(--primary) !important;
	}

	#faq *{
		color: var(--primary) !important;
	}

	.faq-wrapper{
		min-width: 100px;
		width: 100% !important;
		max-width: 350px !important;
		bottom: 80px;
		right: 15px !important;
	}
}

@media (min-width: 992px) and (max-width: 1520px) {
	.scrolled-event .event .grid-inner {
		flex-direction: column;
	}

	.scrolled-event .event .grid-inner .entry-image {
		margin-bottom: 12px !important;
	}

	.scrolled-event .event .grid-inner .entry-image,
	.scrolled-event .event .grid-inner .entry-image~[class*="col-"] {
		max-width: 100%;
		width: 100%;
		height: auto;
		padding: 0 !important;
	}
}

@media (min-width: 768px){
	.swiper-padding{
		padding: 0 24px !important;
	}
}

@media screen and (max-width: 767px) {
	#page-title .heading-block::after {
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
	}
	.heading-block.line-right{
		display: flex;
		align-items: center;
		gap: 12px;
		margin-bottom: 20px;
		flex-direction: column;
	}

	.heading-block.line-right :not(div){
		flex-grow: 1;
		text-wrap: wrap;
		margin-bottom: 0;
		text-align: center;
	}

	.heading-block.line-right div{
		width: 80px;
		height: 4px !important;
		background: var(--secondary);
		border-radius: 4px;
	}
	.swiper-3{
		padding: 0 !important;
	}
	.tab-custom .list-group{
		flex-direction: row;
		margin-bottom: 20px;
		flex-wrap: wrap;
	}
	.tab-custom .list-group .list-group-item{
		flex: 1 0 160px;
	}
	.swiper-banner .swiper-slide img{
		height: 160px !important;
	}
}
